{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1>This is the subscription details page</h1>
  <h2>Subscription name</h2>
  <p>{{ about }}</p>
  <h2>included drinks</h2>
  <ul>
    {% for drink in included_drinks %}
      <li>{{ drink.name }}</li>
    {% endfor %}
  </ul>
  <h2>sign up now!</h2>
  <form method="POST" action="{% url 'confirm_subscription' %}" id="payment-form">
    {% csrf_token %}
    <p>monthly cost: {{ price }}$/month</p>
    <input type="hidden" name="sub_id" value="{{ sub_id }}">
    <input type="hidden" name="stripe_plan_id" value="{{ stripe_plan_id }}">
    <input type="hidden" name="price" value="{{ price }}">
    {{ form.billing_address }}
    <div class="form-group">
      <div class="col text-right" id="card-element"></div>
    </div>
    <input type="submit" class="text-right btn btn-outline-dark rounded-0 py-3" value="sign up!">
  </form>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      card('{{ STRIPE_PUBLISHABLE_KEY }}','{{ customer_email }}')
    </script>
{% endblock %}