{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Special Offer -->
<div class="row no-gutters" style="background-color: #703600">
  <div class="container">
    <div class="row">
      <div class="col my-auto">
        <h2 class="display-4 logo-font text-white">Special Offer!</h2>
        <p class="text-white">
          Right now, we are offering a year long discount on our coffee
          subscription "Special". Get all of your favorite coffee whenever
          you want it for only $40.00 per month for a whole year!
        </p>
      </div>
      <div class="col-7 col-md-6 my-auto">
        <div class="my-5 text-right">
          <a href="{% if user.is_authenticated %}{% url 'subscription' 2 %}{% else %}{% url 'account_login' %}{% endif %}" class=" btnbtn-outline-light rounded-0 py-3">Go To Offer</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Subscriptions -->
<div class="row no-gutters" style="background-color: #1E0E00;">
  <div class="container">
    <div class="col my-auto">
      <h2 class="display-4 logo-font text-white" id="subscriptions">Subscriptions</h2>
      <p class="text-white">Do you go out for coffee often? Why not subscribe to our coffee services?
        Whenever you want a cup of coffee, just order or come down to one of our stores
        and get as much as you want for a montly cost. Choose a subscription that best
        suits you and start enjoying coffee knowing that the expenses are already set.
      </p>
      <div class="d-flex d-flex-row">
        <div class="card-deck">
          <div class="card rounded-0 border-light" style="background-color: #1E0E00;">
            <div class="card-body text-white">
              <h3>Regular</h3>
              <p>
                if you just want regular black coffee with or without milk and no 
                other fancy additions then this is the subscription for you
              </p>
            {% if user.subscriptions.exists %}
              {% for subscription in user.subscriptions.all %}
                {% if subscription.subscription_id == 1 %}
                  <a href="{% if user.is_authenticated %}{% url 'subscription' 1 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">Signed</a>
                {% else %}
                  <a href="{% if user.is_authenticated %}{% url 'subscription' 1 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">Change Plan</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <a href="{% if user.is_authenticated %}{% url 'subscription' 1 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">See More</a>
            {% endif %}
          </div>
          </div>
          <div class="card rounded-0 border-light" style="background-color: #1E0E00;">
            <div class="card-body text-white">
              <h3>Special</h3>
              <p>
                If you want more options to you coffee, this subscriptions offers 
                special warm drinks like caffe latte, cappucino or Americano
              </p>
              {% if user.subscriptions.exists %}
              {% for subscription in user.subscriptions.all %}
                {% if subscription.subscription_id == 2 %}
                  <a href="{% if user.is_authenticated %}{% url 'subscription' 2 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">Signed</a>
                {% else %}
                  <a href="{% if user.is_authenticated %}{% url 'subscription' 2 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">Change Plan</a>
                {% endif %}
              {% endfor %}
            {% else %}
              <a href="{% if user.is_authenticated %}{% url 'subscription' 2 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">See More</a>
            {% endif %}            </div>
          </div>
          <div class="card rounded-0 border-light" style="background-color: #1E0E00;">
            <div class="card-body text-white">
              <h3>Premium</h3>
              <p>
                If you don’t like limitations, then premium is the subscription for you. 
                Enjoy any drink warm or cold from our menu
              </p>
              {% if user.subscriptions.exists %}
                {% for subscription in user.subscriptions.all %}
                  {% if subscription.subscription_id == 3 %}
                    <a href="{% if user.is_authenticated %}{% url 'subscription' 3 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">Signed</a>
                  {% else %}
                    <a href="{% if user.is_authenticated %}{% url 'subscription' 3 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">Change Plan</a>
                  {% endif %}
                {% endfor %}
              {% else %}
                <a href="{% if user.is_authenticated %}{% url 'subscription' 3 %}{% else %}{% url 'account_login' %}{% endif %}" class="btn btn-outline-light rounded-0 py-3">See More</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu -->
<div class="row no-gutters" style="background-color: #401F00;">
  <div class="container">
    <div class="col my-auto">
      <h2 class="display-4 logo-font text-white" id="menu">Menu</h2>
      <div class="border border-light">
        <div class="row">
          <div class="col-md-6">
            <ul class="text-white">
              {% for item in menu %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About -->
<div class="row no-gutters" style="background-color: #703600;" id="about">
  <div class="container">
    <div class="col-7 col-md-6 my-auto">
      <h2 class="display-4 logo-font text-white">About</h2>
      <p class="text-white">The Coffee Spot is a coffee shop based in Sweden. The company started out in 1996 in Stockholm Sweden. 
        The original coffee shop was focused on creating a cozy environment where you can enjoy a quality cup 
        of coffee. Since then the company has grown a substantial amount and is now among the most popular 
        coffee shops in Sweden. 
      </p>
    </div>
  </div>
</div>
{% endblock %}
