{% extends "base.html" %}

{% block content %}

<div class="row w-100" style="background-color: #703600;">
    <div class="container">
    <h1 class="display-4 logo-font text-white">Profile page</h1>
    <div class="col">
        <div class="d-flex">
            <a href="{% url 'edit_profile' %}">
                <img src="" alt="" width="300px" height="300px">
            </a>
            <div    class="d-flex flex-column">
                <h2 class="text-white">{{ user.username }}</h2>
                <h3 class="text-white">Full name</h3>
                <p class="text-white">Description</p>
            </div>
        </div>
        <div class="d-flex flex-column">
            <a href="{% url 'order_history' %}" class="text-white">Order History</a>
            <a href="#" class="text-white">Settings</a>
            <a href="{% url 'view_subscriptions' %}" class="text-white">My Subscriptions</a>
            <a href="#" class="text-white">Invoices</a>
        </div>
    </div> 
</div>
<!-- view order history -->
{% if request.resolver_match.view_name == "order_history" %}
    <div class="row w-100" style="background-color:  #1E0E00;">
        <div class="container">
            <h2 class="display-4 logo-font text-white">Orders</h2>
            {% if not orders %}
                <h3 class="text-white">You currently don't have any orders</h3>
            {% endif %}
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-column">
                        {% for order in orders %}
                            <div class="d-flex flex-inline">
                                <img src="" alt="" width="300px" height="300px">
                                <div class="d-flex flex-column text-white">
                                    <p>Items: {% for item in items %}
                                        {% for product, quantity in item.items %}
                                            {{ product.name }} x {{ quantity }} x ${{ product.price }}, 
                                        {% endfor %}
                                    {% endfor %}</p>
                                    <p>Total: {{ order.total_cost }}$</p>
                                    <p>Order Number: {{ order.order_number }}</p>
                                    <p>Date: {{ order.date|date:"Y-m-d" }}</p>
                                    <p>Pickup at: {{ order.address }}</p>
                                    <p>Ready at: {{ order.date|time:"H:i" }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- view subscriptions -->
{% if request.resolver_match.view_name == "view_subscriptions" %}
    <div class="row w-100" style="background-color:  #1E0E00;">
        <div class="container">
            <h2 class="display-4 logo-font text-white">Subscriptions</h2>
            {% if not subscriptions %}
                <h3 class="text-white">You currently don't have any subscriptions</h3>
            {% endif %}
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-column">
                        {% for subscription in subscriptions %}
                        <div class="d-flex flex-inline">
                            <img src="" alt="" width="300px" height="300px">
                            <div class="d-flex flex-column text-white">
                                <p>Subscription: {{ subscription.subscription_name }}</p>
                                <p>Price: {{ subscription.price}}$</p>
                                <p>Billing Address: {{ subscription.address }} {{ subscription.postal_code }} {{ subscription.city }}</p>
                                <a href="{% url 'cancel_subscription' subscription.stripe_subscription_id %}">Cancel Subscription</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% endblock %}