{% extends "base.html" %}

{% load static %}

{% block head_title %}Sign Out{% endblock %}

{% block content %}
  <div class="row" style="background-color: #703600">
    <div class="container">
      <h1 class="text-white">Sign Out</h1>

      <p class="text-white">Are you sure you want to sign out?</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit" class="btn btn-outline-light rounded-0">Sign Out</button>
        <a href="{% url 'home_page' %}" class="btn btn-outline-light rounded-0">Return Home</a>
      </form>
    </div>
  </div>
{% endblock %}
