{% extends "base.html" %}

{% block content %}
    <h1>Your order is being taken care of</h1>
    <div class="d-flex flex-inline">
        <img src="" alt="" width="300px" height="300px">
        <div class="d-flex flex-column">
            <p>Items: {% for item in order.product.all %}{{ item.name }} x{{ forloop.counter }} {% endfor %}</p>
            <p>Total: {{ order.total_cost }}$</p>
            <p>Order Number: {{ order.order_number }}</p>
            <p>Date: {{ order.date|date:"Y-m-d" }}</p>
            <p>Pickup at: {{ order.address }}</p>
            <p>Ready at: {{ new_time|time:"H:i" }}</p>
        </div>
    </div>
    <form action="#">
    {% csrf_token %}
    {{ form }}
    </form>
    <a href="{% url 'home_page' %}" class="btn btn-outline-dark rounded-0 py-3">Head back home</a>
{% endblock %}