{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row no-gutters" style="background-color: #703600">
  <div class="container">
    <!-- list of products -->
    <h2 class="display-4 logo-font text-white">Coffee Selection</h2>
    <!-- search bar -->
    <form class="row justify-content-center" action="{% url 'order' %}" method="GET">
      {% csrf_token %}
      {{ search_form.query }}
      <button class="btn btn-outline-light rounded-0" style="height: 38px;" type="submit">Search</button>
    </form>
    {% if errormsg %}
      <strong class="text-white">{{ errormsg }}</strong>
    {% endif %}
    {% if search_result %}
      <strong class="text-white">search tag</strong>
      <a href="{% url 'order' %}" class="d-flex flex-inline btn btn-outline-light rounded-0 tag">{{ query }} X</a>
      {% include "search/search_result.html" %}
    {% else %}
    <div class="d-flex d-flex-row">
      <div class="card-deck flex-nowrap" id="scrollbar" style="overflow-x: scroll;">
        {% for product in product_list %}
          <div class="card rounded-0 border-light" style="background-color: #703600; min-width: 300px;">
            <div class="card-body text-white">
                <form action="{% url 'add_to_cart' product.id %}" method="POST">
                  {% csrf_token %}
                  <h4 class="card-title">{{ product.name }}</h4>
                  <p>cost: {{ product.price }}$</p>
                  <p>category: {{ product.category }}</p>
                  <p>rating: {{ product.rating }}</p>
                <input type="submit" class="btn btn-outline-light rounded-0" value="+">
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
              </form>
              {% if user.is_superuser %}
                <div class="d-flex justify-content-end">
                  <a href="{% url 'delete_product' product.id %}" class="btn btn-outline-light rounded-0">Delete</a>
                  <a href="{% url 'edit_product' product.id %}" class="btn btn-outline-light rounded-0">Edit</a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
<!-- View of cart -->
{% if cart_items %}
  <div class="container checkout">
    <h2 class="text-white">items</h2>
    <div class="row no-gutters" style="background-color: #1E0E00;">
        <div class="d-flex d-flex-row">
          <div class="card-deck">
            {% for item in cart_items %}
              <div class="card rounded-0 border-light" style="background-color: #1E0E00; min-width: 300px;">
                <div class="card-body text-white">
                  <div class="d-flex flex-inline" style="justify-content: space-between;">
                  <h4 class="card-title">{{ item.product.name }}</h4>
                  <form class="text-right" action="{% url 'remove_from_cart' item.product.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-light rounded-0" value="x">
                  </form>
                  </div>
                  <p>Cost: ${{ item.product.price }}</p>
                  <p>Category: {{ item.product.category }}</p>
                  <p>Rating: {{ item.product.rating }}</p>
                  <div class="row d-flex justify-content-center" style="height: 38px;">
                    <form class="form-inline" action="{% url 'adjust_cart_items' item.product.id %}" method="POST">
                      {% csrf_token %}
                      <input type="submit" value="+" name="increment" class="btn btn-outline-light rounded-0">
                      <p class="text-center" style="padding: 0 15px; margin: 0; border: 1px solid white; height: 100%;">{{ item.quantity }}</p>
                      <input type="submit" value="-" name="decrement" class="btn btn-outline-light rounded-0">
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <h1 class="display-4 logo-font text-white">Checkout</h1>
    <h4 class="text-white">Total = {{ total }}$</h4>
    <form method="POST" action="{% url 'order_confirmation' %}" id="payment-form">
      {% csrf_token %}
      <div class="form-group">
        {{ order_form.name }}
      </div>
      <div class="form-group">
        {{ order_form.address }}
      </div>
      <div class="form-group">
        <div class="form-control col text-right rounded-0 border-light" id="card-element" style="background-color: #401F00;"></div>
      </div>
      <input type="hidden" id="total" name="total" value="{{ total }}">
      <input type="submit" value="create order" class="text-right btn btn-outline-light rounded-0 py-3">
    </form>
  </div>
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}