{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row no-gutters" style="background-color: #703600">
    <div class="container">
        <h1 class="display-4 logo-font text-white">Your order is being taken care of</h1>
        <div class="d-flex flex-inline">
            <img src="{% static 'images/coffee-cup.png' %}" alt="" width="300px" height="300px">
            <div class="d-flex flex-column text-white" style="padding-left: 30px;">
                <p>Items: </p>
                <ul>
                {% for lineitem in order.lineitems.all %}
                    <li>
                        {{ lineitem.product.name }} x {{ lineitem.quantity }} x ${{ lineitem.product.price }}
                    </li>
                {% endfor %}
                </ul>
                <p>Total: ${{ order.total_cost|floatformat:2 }}</p>
                <p>Order Number: {{ order.order_number }}</p>
                <p>Date: {{ order.date|date:"Y-m-d" }}</p>
                <p>Selected Coffee shop: {{ order.address }}</p>
                <p>Ready at: {{ order.date|time:"H:i" }}</p>
                {% if order.to_go %}
                    <p>To-Go</p>
                {% endif %}
            </div>
        </div>
        <form action="#">
        {% csrf_token %}
        {{ form }}
        </form>
        <a href="{% url 'home_page' %}" class="btn btn-outline-light rounded-0 mt-4">Head back home</a>
    </div>
</div>
{% endblock %}