{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row no-gutters" style="background-color: #703600">
  <div class="container">
    <h2 class="display-4 logo-font text-white">Coffee Selection</h2>
    <!-- search bar -->
    <form class="row justify-content-center" action="{% url 'order' %}" method="GET">
      {% csrf_token %}
      {{ search_form.query }}
      <button class="btn btn-outline-light rounded-0" style="height: 38px;" type="submit">Search</button>
    </form>
    {% if errormsg %}
      <strong class="text-white">{{ errormsg }}</strong>
    {% endif %}
    {% if search_result %}
      <strong class="text-white">search tag</strong>
      <a href="{% url 'order' %}" class="d-flex flex-inline btn btn-outline-light rounded-0 tag">{{ query }} X</a>
      {% include "search/search_result.html" %}
    {% else %}
    <!-- list of products -->
    <div class="d-flex d-flex-row">
      <div class="card-deck flex-nowrap" id="scrollbar" style="overflow-x: scroll;">
        {% for product in product_list %}
          <div class="card rounded-0 border-light" style="background-color: #703600; min-width: 300px;">
            <div class="card-body text-white">
                <form action="{% url 'add_to_cart' product.id %}" method="POST">
                  {% csrf_token %}
                  <h4 class="card-title">{{ product.name }}</h4>
                  <p>cost: ${{ product.price }}</p>
                  <p>category: {{ product.category }}</p>
                  <p>rating: {{ product.average_rating }}</p>
                <input type="submit" class="btn btn-outline-light rounded-0" value="+">
                <input type="hidden" value="Standard" name="size">
                <input type="hidden" value="Milk" name="milk_type">
                <input type="hidden" name="quantity" value="1">
              </form>
              {% if user.is_superuser %}
                <div class="d-flex justify-content-end">
                  <a href="{% url 'delete_product' product.id %}" class="btn btn-outline-light rounded-0">Delete</a>
                  <a href="{% url 'edit_product' product.id %}" class="btn btn-outline-light rounded-0">Edit</a>
                </div>
              {% endif %}
              <div class="d-flex justify-content-end">
                <a href="{% url 'customize_product' product.id %}" class="btn btn-outline-light rounded-0">Customize</a>
                <a href="{% url 'product_details' product.id %}" class="btn btn-outline-light rounded-0">Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
<!-- View of cart -->
{% if current_cart %}
  <div class="container checkout">
    <h2 class="text-white">items</h2>
    <div class="row no-gutters">
      <div class="col">
        <div class="card-deck">
          {% for item in current_cart.cart_items %}
            <div class="card rounded-0 border-light" style="background-color: #1E0E00; max-width: 300px;">
              <div class="card-body text-white">
                <div class="d-flex flex-inline" style="justify-content: space-between;">
                <h4 class="card-title">{{ item.product.name }}</h4>
                <form class="text-right" action="{% url 'remove_from_cart' %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-outline-light rounded-0" value="x">
                  <input type="hidden" name="index" value="{{ item.index }}">
                </form>
                </div>
                <p>Cost: ${{ item.product.price }}</p>
                <p>Category: {{ item.product.category }}</p>
                <p>Size: {{ item.size }}</p>
                <div class="row d-flex justify-content-center" style="height: 38px;">
                  <form class="form-inline" action="{% url 'adjust_cart_items' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="+" name="increment" class="btn btn-outline-light rounded-0">
                    <p class="text-center" style="padding: 0 15px; margin: 0; border: 1px solid white; height: 100%;">{{ item.quantity }}</p>
                    <input type="submit" value="-" name="decrement" class="btn btn-outline-light rounded-0">
                    <input type="hidden" name="index" value="{{ item.index }}">
                  </form>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col">
        <h1 class="display-4 logo-font text-white">Checkout</h1>
          <form method="POST" action="{% url 'order_confirmation' %}" id="payment-form">
            {% csrf_token %}
            <div class="form-group">
              {{ order_form.name }}
            </div>
            <div class="form-group">
              {{ order_form.address }}
            </div>
            <div class="form-group">
              <div class="form-control col text-right rounded-0 border-light" id="card-element" style="background-color: #401F00;"></div>
            </div>
            <h4 class="text-white">Total = {{ current_cart.total }}$</h4>
            <input type="button" name="togo" value="To-go">
            <input type="submit" value="create order" class="text-right btn btn-outline-light rounded-0 py-3">
            <input type="hidden" id="total" name="total_cost" value="{{ current_cart.total }}">
          </form>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock %}