{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="row no-gutters" style="background-color: #703600">
        <div class="container" style="padding: 10% 10%;">
            <h1 class="display-4 logo-font text-white">Create A Product</h1>
            {% if messages %}
                <ul class="messages text-white">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <form action="{% url 'create_product' %}" method="POST" class="d-flex flex-column">
                {% csrf_token %}
                {{ form.name }}
                {{ form.price }}
                {{ form.ingredients }}
                {{ form.description }}
                {{ form.category_id }}
                {{ form.image }}
                {{ form.has_milk }}
                <input type="submit" class="text-right btn btn-outline-light rounded-0 py-3">
            </form>
        </div>
    </div>
{% endblock %}