{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container" style="background-color: #703600">
    <div class="row no-gutters text-white">
        <div class="col">
            <h2 class="display-4 logo-font text-white">Customize your Drink</h2>
            <p>Customize your own "{{ product.name }}" so we know how to make it for you</p>
            <!-- Addition selection -->
            <h3>Addition</h3>
            <form action="how to cheat django rules" display="none"></form>
            <div class="d-flex">
                {% for item in addition_list %}
                    <div style="padding-right: 10px; padding-bottom: 10px;">
                        <form action="{% url 'addition' product.id item.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-outline-light rounded-0" value="{{ item.name }}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                {% endfor %}
            </div>
            <!-- Current additions selected -->
            {% for addition in current_additions %}
                <div class="row d-flex flex-nowrap justify-content-space-between" style="height: 38px; margin: 10px 0">
                    <p>{{ addition.addition_name }} x ${{ addition.addition.price }}</p>
                    <form class="form-inline" action="{% url 'adjust_addition' addition.addition_id %}" method="POST" style="margin: 0 10px">
                        {% csrf_token %}
                        <input type="submit" value="+" name="increment" class="btn btn-outline-light rounded-0">
                        <p class="text-center" style="padding: 0 15px; margin: 0; border: 1px solid white; height: 100%;">{{ addition.quantity }}</p>
                        <input type="submit" value="-" name="decrement" class="btn btn-outline-light rounded-0">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <form action="{% url 'delete_addition' addition.addition_id %}" method="POST" style="margin: 0 10px">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-light rounded-0" value="x">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>
            {% endfor %}
            <h4>Addition total = ${{ additions_total }}</h4>
            <!-- order confirmation -->
            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <!-- size selection -->
                <h3>Size</h3>
                <div class="d-flex">
                    {{ form.size }}
                </div>
                <!-- milk selection -->
                {% if product.has_milk %}
                    <h3>Milk</h3>
                    <div class="d-flex">
                        {{ form.milk_type }}
                    </div>
                {% else %}
                    <input type="hidden" name="milk_type" value="No Milk">
                {% endif %}
                <input type="submit" class="btn btn-outline-light rounded-0" value="Add to Order">
                <input type="hidden" name="quantity" value="1">
                <input type="hidden" value="{{ current_additions }}" name="current_additions">
            </form>
        </div>
    </div>
  </div>

{% endblock %}

{% block postloadjs %}
  <script>
    size_radios = document.getElementsByName('size')
    milk_type_radios = document.getElementsByName('milk_type')
    for (let radio of size_radios) {
        radio.addEventListener('click', ()=> {
            for (let input of size_radios)
                if (input.checked) {
                    input.parentElement.style.backgroundColor = "white"
                    input.parentElement.style.color = "black"
                } else {
                    input.parentElement.style.backgroundColor = "transparent"
                    input.parentElement.style.color = "white"
                }
        })
    };
    for (let radio of milk_type_radios) {
        radio.addEventListener('click', ()=> {
            for (let input of milk_type_radios)
                if (input.checked) {
                    input.parentElement.style.backgroundColor = "white"
                    input.parentElement.style.color = "black"
                } else {
                    input.parentElement.style.backgroundColor = "transparent"
                    input.parentElement.style.color = "white"
                }
        })
    };
  </script>
  
{% endblock %}