{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="row no-gutters" style="background-color: #703600">
        <div class="container" style="padding: 10% 10%;">
            <h1 class="display-4 logo-font text-white">Edit A Product</h1>
            {% if errormsg %}
                <p class="text-white">{{ errormsg }}</p>
            {% endif %}
            <form action="{% url 'edit_product' product.id %}" method="POST" class="d-flex flex-column" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.name }}
                {{ form.price }}
                {{ form.category_id }}
                {{ form.has_milk }}
                {{ form.image }}
                <input type="submit" class="text-right btn btn-outline-light rounded-0 py-3">
            </form>
        </div>
    </div>
{% endblock %}