{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="container" style="background-color: #703600">
    <div class="row no-gutters text-white">
        <div class="col text-center">
            <img src="{% static 'images/coffee-cup.png' %}" alt="coffee cup" style="width: 300px; height: 300px;">
            <h2 class="display-4 logo-font text-white">{{ product.name }} details</h2>
            <p>Category: {{ product.category }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Description: {{ product.description }}</p>
            <p>Ingredients: {{ product.ingredients }}</p>
            <p>Rating: {{ product.average_rating }}</p>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-gutters-text-white">
      <div class="col text-white text-center">
        <h2>Rate this product</h2>
        <p style="margin: 3%;">Average rating: {{ product.average_rating }}</p>
        <div class="d-flex justify-content-center">
        {% for rating_value in rating_values %}
          <form action="{% url 'rate' product.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-light rounded-0" name="rating" value="{{ rating_value }}">
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
          </form>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}